.full-width{
  width:100%;
}
 .colorbar{

  display: grid;
  border-radius: 5%;
  padding: 20px;
  
 }
 .letter{
  color: #1445c2;
  font-size: 1.575em;
  text-align: center;
 }
// 
 .bord{
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con 50% de transparencia */
// 
 }
 h2{
  display: flex;
  justify-content: center;
  align-items: center;
 }
// 
  .cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura del viewport */
    // 
  }

.logo{
  width:450px;
  height:50%;
  border-radius: 5%;
  padding: 5px;
}

.container mat-form-field + mat-form-field {
  margin-left: 8px;
}

button{
  padding: auto;
  margin: 2px;
  
}
mat-icon{
  color: rgb(37, 37, 156);
}
mat-label{
  color: #1445c2;
}
.custom-text{
  color: #1445c2;
}