<form [formGroup]="formOrden">
  <mat-card>
    <h1 class="m-3 text-center"><span>Crear una nueva orden</span></h1>
    <mat-card-content>
      <mat-form-field class="mat-30" appearance="fill">
        <mat-label>Número de Silla</mat-label>
        <input matInput formControlName="numero" placeholder="Ingrese el Número de la Silla">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 300px; display: block; margin-top: 10px;">
        <mat-label>Selecciona un cliente</mat-label>
        <mat-select>
          <mat-option *ngFor="let cliente of ListadoClientes" [value]="cliente.id">
            {{ cliente.nombres }} {{ cliente.apellidos }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 300px; display: block; margin-top: 10px;">
        <mat-label>Selecciona un Servicio</mat-label>
        <mat-select>
          <mat-option *ngFor="let servicio of servicios" [value]="servicio.id">
            {{ servicio.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="mat-30" appearance="fill">
        <mat-label>Usuario Que Atiende</mat-label>
        <input matInput formControlName="usuarioAtiende" placeholder="Ingrese usuario" />
      </mat-form-field>


      <button mat-raised-button color="primary" (click)="enviarOrdenForm()">Enviar Orden</button>
    </mat-card-content>
  </mat-card>
</form>












