body{
  margin: 20px auto;
  display:grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  }
  .auth-buttons {
    display: flex;
    gap: 10px; /* Espacio entre los botones de Login y Registro */
  }
  .example-card {
    max-width: 240px;
    max-height: 480px;
  }

  .product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .mt-custom {
    margin-top: 5rem;
  }
  .mb-custom{
    margin-bottom: 7rem;
  }
  .container {
    max-width: 90%;
    max-height: 90%;
    margin: 20px auto;
    padding: 20px;
    // background: white;
  }
  .image-container {
    display: flex;
    flex-wrap: wrap; /* Permite que pasen a otra línea si no caben */
    gap: 10px;
    justify-content: start; /* Alinea las imágenes desde la izquierda */
    align-items: center; /* Centra los elementos verticalmente */
    width: 200px;
    height: 200px;
  }