<app-navbar/>

<div class="container text-center  ">
   <h1    class="text-center">Productos disponibles</h1>
  <div class="product-container">
    <mat-card class="example-card" appearance="outlined" *ngFor="let product of products">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{ product.marca.name }}</mat-card-subtitle>
      </mat-card-header>
      
      
      <mat-card-content>
        <img class="image-container"
mat-card-image [src]="getPrincipalImage(product.imagenes)" alt="{{ product.name }}">
        <p>
          {{ product.description || 'Sin descripción adicional disponible.' }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button 
        color="primary" (click)="ProductDetalle(product.id)">
          Detalle
        </button>

      </mat-card-actions>
    </mat-card>
  </div>
</div>
<app-footer/>
