body{
  margin: 20px auto;
  display:grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  }
  .auth-buttons {
    display: flex;
    gap: 10px; /* Espacio entre los botones de Login y Registro */
  }
  .product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .mt-custom {
    margin-top: 5rem;
  }
  .mb-custom{
    margin-bottom: 7rem;
  }
  .container {
    max-width: 90%;
    max-height: 90%;
    margin: 20px auto;
    padding: 20px;
    // background: white;
  }
  .image-container {
    display: flex;
    flex-wrap: wrap; /* Permite que pasen a otra línea si no caben */
    gap: 10px;
    justify-content: start; /* Alinea las imágenes desde la izquierda */
    align-items: center; /* Centra los elementos verticalmente */
    width: 200px;
    height: 200px;
  }
  .example-card {
    width: 250px; // Ancho normal en pantallas grandes
    max-width: 100%;

    @media (max-width: 768px) {
      width: 95%; // En móviles, ocupa casi toda la pantalla
      max-width: none;
    }
  }
  mat-card-actions {
    display: flex;
    justify-content: center;
  }
  mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image-container {
    width: 200px;  // Ajusta según tu necesidad
    height: 200px; // Mantiene el tamaño uniforme
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; // Evita que la imagen sobresalga
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; // Recorta la imagen para llenar el contenedor sin deformarse
  }

