<mat-toolbar class="fixed-top barNav" color="primary">
  <!-- Contenedor izquierdo con logo y botón "Inicio" -->
  <div class="left-container">
    <a routerLink="/">
      <img class="img-fluid rounded mb-4" loading="lazy" src="/logoNav.png" width="50%" height="50px" alt="logo del nav">
    </a>
  </div>

  <!-- Contenedor derecho con botón de carrito y botones de Login/Registro -->
  <div class="right-container">
    <!-- Icono del carrito con contador -->
    <div class="cart-container">
      <button mat-icon-button [routerLink]="'/cart'">
        <mat-icon>shopping_cart</mat-icon>
        <span class="cart-badge" *ngIf="cartItemCount > 0">{{ cartItemCount }}</span>
      </button>
    </div>

    <!-- Botones de autenticación -->
    <div class="auth-buttons">
      <button mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/usuarioRegistro">Registro</button>
    </div>
  </div>
</mat-toolbar>

