.preview-container {
  margin-top: 10px;

  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); // Ajusta el tamaño de las miniaturas
    gap: 10px;
    padding: 10px;
    justify-content: center;
  }

  .preview-image {
    width: 100px; // Tamaño de la miniatura
    height: 100px;
    object-fit: cover; // Para que la imagen mantenga proporciones sin deformarse
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1); // Efecto de zoom al pasar el mouse
    }
  }
}
