<app-navbar></app-navbar>
<div class="container">
<div class="product-detail-container">
  <div *ngIf="product" class="mt-custom">
    <mat-card class="product-card mb-2 pt-2 product-container">

      <h1 class="text-center">Detalle del Producto</h1>
      <!-- Contenedor para la imagen principal y los detalles -->
      <div class="product-details-container">
        <!-- Galería de miniaturas a la izquierda -->
        <div class="thumbnail-column">
          <h3>Más imágenes</h3>
          <div class="thumbnail-container mb-5">
            <div *ngFor="let imagen of product.imagenes"
                 (click)="changeImage(imagen)"
                 [ngClass]="{'selected': currentImage?.id === imagen.id}"
                 class="thumbnail">
              <img [src]="imagen.imageUrl" [alt]="product.name" class="thumbnail-image" />
            </div>
          </div>
        </div>

        <!-- Imagen principal en el centro -->
        <div class="main-image">
          <img class="product-image" mat-card-image [src]="currentImage?.imageUrl || product.imagenes[0]?.imageUrl" alt="{{ product.name }}" />
        </div>

        <!-- Detalles del producto a la derecha -->
        <div class="product-info">
          <h2>{{ product.name }}</h2>
          <h3>{{ product.marca.name }}</h3>
          <p>{{ product.description || 'Sin descripción disponible' }}</p>
          <p><strong>Precio:</strong> ${{ product.price }}</p>
          <p><strong>Categoría:</strong> {{ product.categoria?.name || 'Sin categoría' }}</p>

          <div class="product-actions">
            <button mat-raised-button  (click)="BackHome()">
              Seguir Comprando
            </button>
            <!-- <button mat-raised-button >Comprar</button> -->
            <button mat-raised-button color="accent" (click)="addToCart(product)">
              Agregar al carrito
            </button>

          </div>
        </div>
      </div>

    </mat-card>
  </div>

  <div *ngIf="!product">
    <mat-spinner></mat-spinner>
    <p>Cargando producto...</p>
  </div>

</div>
</div>

<app-footer></app-footer>
