.aling{
    align-items: flex-end;
}
h1{
    text-align: center;
    color: rgb(5, 133, 244);
}
button{
    margin: 1%;
    align-items: center;


}
.tam{
    width:1200px;
}
.cart-container{
    padding: 5px;
    height: 100vh;

}
.posis{

    background-color: transparent;
    position: flex;
    align-items: center;
    flex-wrap: wrap;

}
.cart-total{
    text-align:end;
}
.cart-actions{
    text-align: center;
}
table {
    width: 100%;
  }
  .image-container {
    max-width: 200px;  // Asegura que la imagen no sobrepase el ancho del contenedor
    max-height: 200px;     // Mantiene la proporción de la imagen
    object-fit: contain; // Asegura que la imagen se ajuste dentro del contenedor sin recortarse
    display: block;
    margin: 0 auto; // Centra la imagen si es necesario
  }
