<h1>Categoria</h1>
<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="formCategory">
    <mat-card class="form-card">
      <mat-card-header>
        <h1>Crear una nueva Categoria</h1>
      </mat-card-header>

      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="16px">
          <mat-form-field fxFlex="45%" appearance="fill">
            <mat-label>Nombre de Categoria</mat-label>
            <input matInput formControlName="name" placeholder="Ingrese el Nombre de la marca">
          </mat-form-field>

        <mat-form-field fxFlex="100%" appearance="fill">
          <mat-label>Descripción de la Categoria</mat-label>
          <textarea matInput formControlName="description" placeholder="Ingrese la descripción"></textarea>
        </mat-form-field>

          <mat-form-field fxFlex="45%" appearance="fill">
            <mat-label>Estatus</mat-label>
            <mat-select formControlName="status">
              <mat-option [value]="true">Activo</mat-option>
              <mat-option [value]="false">Inactivo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="button-container">
          <button mat-raised-button color="primary" (click)="CrearModificarCategoria()">{{ nombreBoton }}</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>


