<mat-toolbar color="primary">
  <span>Motta Motos</span>
  <button mat-icon-button (click)="toggleSidenav();">
    <mat-icon>menu</mat-icon>
  </button>

  <span style="flex: 1 1 auto;"></span>
  <label >{{username}}</label>
  <button mat-icon-button (click)="cerrarSesion();">
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened mode="side" >
    <mat-nav-list>
      <mat-list-item [routerLink]="'/layout/dashboard'">
        <mat-icon matListItemIcon >dashboard</mat-icon>
      <div matListItemTitle >Dashboard</div>
      </mat-list-item>
      <mat-list-item [routerLink]="'product/list-product'">
        <mat-icon matListItemIcon >shopping_bag</mat-icon>
      <div matListItemTitle >Productos</div>
      </mat-list-item>
      <mat-list-item [routerLink]="'`product/detail/${id}`'">
        <mat-icon matListItemIcon >event_seat</mat-icon>
      <div matListItemTitle >Puestos de Servicio</div>
      </mat-list-item>
      <mat-list-item [routerLink]="'/layout/usuarioListado'">
        <mat-icon matListItemIcon >account_circle</mat-icon>
      <div matListItemTitle >Usuarios</div>
      </mat-list-item>
      <mat-list-item [routerLink]="'/layout/ListMarca'">
        <mat-icon matListItemIcon >account_circle</mat-icon>
      <div matListItemTitle >Marcas</div>
      </mat-list-item>
      <mat-list-item [routerLink]="'/layout/category'">
        <mat-icon matListItemIcon >account_circle</mat-icon>
      <div matListItemTitle >Categorias</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
