<mat-toolbar class="fixed-top" color="primary">
  <!-- El título "Kairos" y el botón "Inicio" alineados a la izquierda -->
  <div class="left-container">
    <span>Motta Motos</span>
    <button mat-button routerLink="/">Inicio</button>
  </div>

  <!-- El contenedor para los botones de Login y Registro alineados a la derecha -->
  <div class="auth-buttons">
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/usuarioRegistro">Registro</button>
  </div>
</mat-toolbar>
