<mat-toolbar color="primary">
  <span>Motta Motos</span>
  <button mat-icon-button (click)="toggleSidenav();">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="flex: 1 1 auto;"></span>
  <i></i>
  <div style="display: flex; align-items: center; gap: 8px;">
    <mat-chip color="accent" style="font-weight: bold;">{{ username | titlecase }}</mat-chip>
  </div>
  <button mat-icon-button (click)="cerrarSesion();">
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened mode="side" >
    <mat-nav-list>
      <mat-list-item>
        <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
          <mat-chip color="accent" style="font-weight: bold;">{{ rolUsuario | titlecase }}</mat-chip>
        </div>
      </mat-list-item>

      <mat-list-item *ngIf="rolUsuario === 'admin'" [routerLink]="'/layout/dashboard'">
        <mat-icon matListItemIcon >dashboard</mat-icon>
      <div matListItemTitle >Dashboard</div>
      </mat-list-item>
      <mat-list-item *ngIf="rolUsuario === 'admin'" [routerLink]="'product/list'">
        <mat-icon matListItemIcon >shopping_bag</mat-icon>
      <div matListItemTitle >Productos</div>
      </mat-list-item>
      <mat-list-item *ngIf="rolUsuario === 'admin'" [routerLink]="'marca/list'">
        <mat-icon matListItemIcon >shopping_bag</mat-icon>
      <div matListItemTitle >Marcas</div>
      </mat-list-item>
      <mat-list-item *ngIf="rolUsuario === 'admin' || rolUsuario === 'cliente'" [routerLink]="'order/list'">
        <mat-icon matListItemIcon >account_circle</mat-icon>
      <div matListItemTitle >Ordenes</div>
      </mat-list-item>
      <mat-list-item *ngIf="rolUsuario === 'admin'" [routerLink]="'category/list'">
        <mat-icon matListItemIcon >account_circle</mat-icon>
      <div matListItemTitle >Categorias</div>
      </mat-list-item>
      <mat-list-item *ngIf="rolUsuario === 'admin'" [routerLink]="'user/list'">
        <mat-icon matListItemIcon >account_circle</mat-icon>
      <div matListItemTitle >Users</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
